<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/Exam/sm04_exam_mid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간필기시험: 고급시뮬레이션 (2019.10.25)
- 문제에 배점이 표시되어 있음. (기본 배점은 1, 총 32점)

***

### # [1] 다음 식의 연산 결과는?

```
a = 3
b = 4
a**b  
```

In [1]:
a = 3
b = 4
a**b

81

#3⁴
**3x3x3x3==>9x9 ==> 81**

**3의 4승으로 81이 된다**

1### # [2-3] 다음 문자열 a 에 대하여 인덱싱과 슬라이싱을 한 결괴는? 


```
a = "Life is too short, You need Python!"

print(a[-16])   # 문제[2]

# 

a[23:-8]       # 문제[3] 

```

In [5]:
a = "Life is too short, You need Python!"
 
print(a[-16])   # 문제[2]
 
# 
a[23:-8]       # 문제[3]

Y
35

'need'

a = "Life is too short, You need Python!"

|L|i|f|e| |i|s| |t|o|o| |s|h|o|r|t|,| |Y|o|u| |n|e|e|d| |P|y|t|h|o|n|!|

| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34| 

|-35|-34|-33|-32|-31|-30|-29|-28|-27|-26|-25|-24|-23|-22|-21|-20|-19|-18|-17|-16|-15|-14|-13|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|

(총 35자 )

**-16번째의 값은 Y 이다**

**파이썬에서 첫번째 값은 0부터 시작하므로 need앞의 공백이 아니라 n부터 시작하고 -8번째 값은 Python!값의 앞인 공백까지로 마지막인덱스는 포함하지 않으므로 d까지이다.**

**따라서 'need'가 출력된다**



---

### # [4] 다음의 결과가 출력되지 않는 것은?

'I ate 10 apples. so I was sick for three days.'


```
# code start
number = 10
day = "three"

A. "I ate {0} apples. so I was sick for {1} days.".format(10, day)
B. f"I ate {number} apples. so I was sick for {day} days."
C. f"I ate {number} apples. so I was sick for {'three'} days."
D. "I ate {0} apples. so I was sick for {1} days.".format(number=10, day)

```

In [7]:
number = 10
day = "three"

print("I ate {0} apples. so I was sick for {1} days.".format(10, day))
print(f"I ate {number} apples. so I was sick for {day} days.")
print(f"I ate {number} apples. so I was sick for {'three'} days.")

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.

In [26]:
"I ate {0} apples. so I was sick for {1} days.".format(number=10,day)

SyntaxError: ignored

**SyntaxError: positional argument follows keyword argument**

 **함수를 호출하실때 인자를 넣는 순서가 잘못됨.**

**위치 인수는 키워드 인수 뒤에 온다**

In [27]:
"I ate {number} apples. so I was sick for {1} days.".format(number=10,day)

SyntaxError: ignored

**인덱스가 먼저나오고 값이 나와야한다**

**값이 먼저 나오고 인덱스가 나오면 에러**



---

### # [5] format 함수 또는 f 문자열 포매팅을 이용해서 '!!python!!' 문자열을 출력해보시오.

```



```

###fomat문자

In [28]:
"{0:!^10}".format("python")

'!!python!!'

###f문자열



---

In [30]:
f"{'python':!^10}"

'!!python!!'

### # [6] 다음 list a의 인덱싱 결과는?

```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][-1]

```

In [31]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
 
 
a[3][-1][-1]

'Good'



---

a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]

**a[3]==> ['a', 'b', ['My', 'Life', 'Good']]**

**a[3][-1]==>['My', 'Life', 'Good']**

**a[3][-1][-1]==> 'Good'**

### # [7] 다음 list x의 슬라이싱 결과는?


```
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x[-6:1:-1]

```

In [32]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x[-6:1:-1]

[5, 4, 3]



---

**x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

**x = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]**

x[-6] => 5부터
x[1] => 2까지(2 포함안됨)
x[ : :-1] ==> 뒤에서 부터 1씩

**==> 5,  4,  3**

### # [8] 다음 tuple t1의 슬라이싱 결과는?



```
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

```

In [33]:
t1 = (0, 2, "s", "t", "u")
 
t1[3:-1]

('t',)



---

t1 = (0, 2, "s", "t", "u")
t1=[3:-1]

t1==> ('t',)

**하나의 튜플은 , 까지 붙여야한다.**

### # [9] 다음 set s1의 최종 출력 결과는?

```
s1 = set([2, 3])
s1.update([2, 4, 6])

s1.add(4)

s1  # 출력 결과?
```

In [34]:
s1 = set([2, 3])
s1.update([2, 4, 6])
 
s1.add(4)
 
s1  # 출력 결과?

{2, 3, 4, 6}



---

**set함수는 순서와 중복이 없다.**

**따라서 {2,3,4,6}의 값으로 나오게 된다** 

**★ 순서가 없다고 하지만 오름차순 순으로 정리된다 ★**

### # [10] 다음 bool 값 출력 중 정확한 것은?

bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))


```
'''
A. (True, True, True, True)
B. (False, False, False, False)
C. (True, True, False, True)
D. (True, False, False, True)
'''

```

In [35]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)



---

**bool 함수는 비어있을 경우 False를 , 숫자의 경우 0이면 False를 반환한다.**

### # [11-2점] 다음 조건문을 1줄 코드로 변경하시오.  

```
score=80

if score >= 60:
    message = "success"
else:
    message = "failure"

print(message)

```

> 출력 결과 :  success

In [0]:
# [11-2점] 1줄 조건문

score=80

message = __________________________________________________________

print(message)

In [36]:
score=80

message = "success" if score>=60 else "failure"
print(message)

success



---

### # [12-2점] 다음 커피자판기가 실행 결과와 같이 제대로 실행되도록 A, B 에 코드를 완성하시오. 
> coffee.py

```

coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % A._____________)
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if : coffee == 0
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        B._______________
```
> 실행 결과 :  
```
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

```

In [42]:
coffee = 5
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300)) #(money -300) 괄호 없으면 틀린다.
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.



---

### # [13-2점] 다음 for-loop의 출력 결과는?

```

games = ["축구", "야구", "농구"]


# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
    
    
    
```

> 출력 결과 ?

In [43]:
games = ["축구", "야구", "농구"]
 
 
# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

0 축구,1 야구,2 농구,



---

**print에 걸린 cnt는 0부터 마지막 인덱스까지 1씩 증가한다.**

**seq[cnt]는 해당하는 인덱스 값을 출력하여 순서대로 야구, 축구, 농구가 출력되며,**

**end에 ','를 넣음으로써 줄바꿈을 ,로 변환하여 표기된다.**

**print문에서 ,로 공백(여백)을 표시한다**

### # [14-2점] 다음 dictionary와 관련된 함수로 평균 점수를 계산하는 코드를 완성하시오.

```



scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum([14]_____________________)/len(scores)))



    
```

In [47]:
scores={"국어":80, "영어":75, "수학":55}
 
 
print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores)))

평균점수는70.0점입니다

**sum()을 통해 socres의 합을 구하고 scores의 갯수 만큼 나눠, 평균을 구한다.**



---



---

### # [15-2점] a 리스트에서 중복 숫자를 제거해서 출력하는 다음 코드를 완성하시오.



```

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = A.________________


a = B.________________


print(a)


```

  
> 출력 결과 : [1, 2, 3, 4, 5]

In [48]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
 
 
a = set(a)
 
 
a = list(a)
 
 
print(a)

[1, 2, 3, 4, 5]

**리스트를 set으로 바꿔 중복을 없애준다**

**set으로 설정한 a를 list로 다시 바꿔 준다**




---

### # [16-최대 3점] for문 사용해 1부터 1000까지의 자연수 중 5의 배수의 합을 구하는 전체 코드를 작성하시오.

> 결과(5의 배수의 합)까지 출력하는 코드는 4줄 이하로 작성하시오.
>> 최소한의 줄로 만든 코드에 최대 점수 3점.
- 1줄: 3점
- 2줄: 2점
- 3줄 이상: 1점  

>> list 내포를 이용하시오.

```
_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [57]:
sum([num for num in range(1,1001) if num % 5==0])

100500

**리스트내포에서 5의 배수를 출력한 값을 쓴다.**



---



---

### # [17-최대 3점] 다음 자료에 대한 평균 성적을 구하시오.
```
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
```

> 결과는 다음과 같이 출력되는 최단 코드를 완성하시오.
```
python 88
english 77
math 66
science 95
평균 점수 = 81.5
```

>> zip() 함수를 이용하시오.

```
# 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

total = 0

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [66]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total= 0

for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))

python 88
english 77
math 66
science 95
평균 점수 = 81.5



---

### # [18-3점] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수 만들기


- 단 입력으로 들어오는 수의 개수는 정해져 있지 않다. (*args 매개변수 이용)
- 평균 값을 구할 때 len 함수를 사용해 보자.
    - 함수명: addMany()
    - 함수 사용: 
        - addMany(1,2)
        - addMany(1,2,3,4,5)
        

```

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________



```

In [71]:
def addMany(*args):
  hap=0
  for arg in args:
    hap+=arg
  return hap/len(args)


print(addMany(1,2))
addMany(1,2,3,4,5)

1.5

3.0



---

### # [19-3점] MaxLimitCalculator 클래스를 만들기
#### 메소드 재정의(overriding)
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.

```

class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
        

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________

_________________________________________________________________________________________


```

In [74]:
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
  def add(self,val):
    self.value+= val
    if self.value > 100:
      self.value=100

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100



---

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 11월 1일(금) 오전 10시.

### 업로드 파일명: smnn_exam_mid.ipynb  (smnn은 id)