<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch05/ch5_05_internal_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###내장 함수

#그 숫자의 절댓값을 돌려주는 함수

In [1]:
print(abs(3))
print(abs(-3))
print(abs(-1.2))

3
3
1.2

## ★★all(x)는 반복 가능한(iterable) 자료형 x를 입력 인수로 받으며
### 이 x가 모두 참이면 True, 거짓이 하나라도 있으면 False를 돌려준다.

In [2]:
print(all([1, 2, 3]))
print(all([0, 1, 2, 3]))

True
False

In [3]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)

#★★★ any(x)는 x 중 하나라도 참이 있으면 True를 돌려주고,
## x가 모두 거짓일 때에만 False를 돌려준다. all(x)의 반대이다.

In [4]:
any([0, 1, 2, 3])

any([0, ""])

False

### chr(i)는 아스키(ASCII) 코드 값을 입력받아
### 그 코드에 해당하는 문자를 출력하는 함수이다.

In [6]:
print(chr(97))
chr(48)

a

'0'

#★ dir은 객체가 자체적으로 가지고 있는 변수나 함수를 보여 준다.

In [7]:
print(dir([1, 2, 3]))  # 리스트에 관련된 내부속성 함수와 객체들이 나옴

print(dir({"1": "a"}))  # 딕셔너리에 관련된 내부속성 함수와 객체들이 나옴
print(type({"1": "a"}))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
<class 'dict'>

#★divmod(a, b)는 2개의 숫자를 입력으로 받는다.
## 그리고 a를 b로 나눈 몫과 나머지를 튜플 형태로 돌려주는 함수

In [8]:
divmod(7, 3)  # 결과값을 tuple로 반환

(2, 1)

#★★★enumerate()

##이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로
## 받아 인덱스 값을 포함하는 enumerate 객체를 돌려준다.

In [9]:
for i, name in enumerate(["body", "foo", "bar"]): # Python 의 인덱스는 0부터 시작한다.
    print(i, name)

0 body
1 foo
2 bar

# eval(expression )
#실행 가능한 문자열(1+2, 'hi' + 'a' 같은 것)을
# 입력으로 받아 문자열을 실행한 결괏값을 돌려주는 함수

In [10]:
print(eval("1+2"))
print(eval("'hi' + 'a'"))
print(eval("divmod(4, 3)"))

3
hia
(1, 1)

#★★★★★ filter 함수는 첫 번째 인수로 함수 이름을,
# 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 자료형을 받는다.
# 그리고 두 번째 인수인 반복 가능한 자료형 요소가 첫 번째 인수인
# 함수에 입력되었을 때 반환 값이 참인 것만 묶어서(걸러 내서) 돌려준다.

In [11]:
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result


print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

**데이터중에서 참인 값만 필터해준다**

In [12]:
def positive(x):
    return x > 0


list(filter(positive, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

### lambda(이름없는 함수)를 사용하면 더욱 간편하게 코드를 작성할 수 있다.★**final Test**★

In [13]:
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

**lambda 객체 : return값 , 해결할 식**

hex(x)는 정수 값을 입력받아 16진수(hexadecimal)로
변환하여 돌려주는 함수

In [14]:
print(hex(10))
print(hex(234))

0xa
0xea

#**★★★★★id()**
##객체를 입력받아 객체의 고유 주소 값(레퍼런스)을 돌려주는 함수

In [15]:
a = 3
print(id(3))
id(a)

10914560

10914560

In [16]:
b = a
print(id(b))
id(4)  # 다른 주소값

10914560

10914592

# input([prompt])은 사용자 입력을 받는 함수이다.
## 매개변수로 문자열을 주면, 그 문자열은 프롬프트로 사용 할 수 있다.

In [17]:
a = input()
b = input("Enter: ")
b

comsi
Enter: SM04

'SM04'

#int(x) **(버림)**
##문자열 형태의 숫자나 소수점이 있는 숫자 등을
## 정수 형태로 돌려주는 함수

In [18]:
print(int(3))
print(int("3"))
print(int(3.14))

3
3
3

# int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환

In [19]:
print(int("11", 2))

3

**★항상 앞에 문자열로 나와야한다.★**

In [21]:
print(int(11, 2))  # TypeError:

TypeError: ignored

In [22]:
print(int("F", 16))

15

# isinstance(object, class ) 
###첫 번째 인수로 인스턴스,
### 두 번째 인수로 클래스 이름을 받는다.
### 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지를 판단하여
### 참이면 True, 거짓이면 False를 돌려준다.

In [23]:
class Person:
    pass


a = Person()
print(isinstance(a, Person))

b = 3
print(isinstance(b, Person))

True
False

# len(s)
###입력값 s의 길이(요소의 전체 개수)를 돌려주는 함수이다.

In [24]:
print(len("python"))
print(len([1, 2, 3]))
print(len((1, "a")))
print(len({a: 3}))

6
3
2
1

# list(s) 
####반복 가능한 자료형 s를 입력받아
#### 리스트로 만들어 돌려주는 함수

In [29]:
print(list("python"))
print(list((1, 2, 3)))

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

# map(f, iterable)
###함수(f)와 반복 가능한(iterable) 자료형을
### 입력으로 받는다.
### map은 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를
### 묶어서 돌려주는 함수

In [30]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result


result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

**map 함수를 사용**

In [31]:
def two_times(x):
    return x * 2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

**lambda 사용**

In [32]:
list(map(lambda a: a * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

# max(iterable)
###인수로 반복 가능한 자료형을 입력받아
### 그 최댓값을 돌려주는 함수

In [33]:
print(max([1, 2, 3]))
print(max("python"))
print(max(list(range(10))))
print(max(range(10)))

3
y
9
9

# min(iterable)
###max 함수와 반대로, 인수로 반복 가능한
###자료형을 입력받아 그 최솟값을 돌려주는 함수

In [34]:
print(min([1, 2, 3]))
print(min("python"))
print(min(range(10)))

1
h
0

# oct(x)
###정수 형태의 숫자를 8진수 문자열로 바꾸어 돌려주는 함수

In [35]:
print(oct(9))
print(oct(12345))

0o11
0o30071

# ord(c)
###**문자의 아스키 코드 값을 돌려주는 함수**
### **※ord 함수는 chr 함수와 반대**

In [36]:
print(ord("a"))  # chr(97)
print(ord("0"))

97
48

# pow(x, y)
###x의 y 제곱한 결괏값을 돌려주는 함수

In [37]:
print(pow(2, 4))  # 2**4
print(pow(3, 4))  # 3**4

16
81

###**★★★★★** range([start,] stop [,step] )는 for문과 함께 자주 사용하는 함수
# 이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로
# 만들어 돌려준다.

In [38]:
print(list(range(5))) #range 객체 그대로 쓰기 어렵다 따라서 list 로 바꿔준다.
print(dir(range(5)))

[0, 1, 2, 3, 4]
['__bool__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index', 'start', 'step', 'stop']

In [39]:
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [40]:
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

In [41]:
print(list(range(0, -10, -1)))# reverse [-9까지]

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

# round() 함수
###숫자를 입력받아 반올림해 주는 함수
### ※ [, ndigits]는 ndigits가 있을 수도 있고 없을 수도 있다는 의미이다.

In [42]:
print(round(4.6))
print(round(4.2))

5
4

In [43]:
print(round(5.678, 2))

5.68

#**★★★** sorted(iterable) 함수
###입력값을 정렬한 후
### 그 결과를 리스트로 돌려주는 함수
### 'reverse' 속성으로 정렬순서 반전

In [44]:
print(sorted([3, 1, 2]))
print(sorted([3, 1, 2], reverse=True))

[1, 2, 3]
[3, 2, 1]

In [45]:
print(sorted(["a", "c", "b"]))
print(sorted(["a", "c", "b"], reverse=True))

['a', 'b', 'c']
['c', 'b', 'a']

In [46]:
print(sorted("zero"))
print(sorted((3, 2, 1)))

['e', 'o', 'r', 'z']
[1, 2, 3]

**매개변수로 튜플이 들어왔지만 list로 반환해준다.**

# str(object)
###문자열 형태로 객체를 변환하여 돌려주는 함수

In [47]:
print(str(3))
print(str(100))
print(str("hello".upper()))

3
100
HELLO

#sum(iterable) 
###입력받은 리스트나 튜플의
### 모든 요소의 합을 돌려주는 함수

In [48]:
print(sum([1, 2, 3]))
print(sum((4, 5, 6)))

6
15

# tuple(iterable)
###반복 가능한 자료형을 입력받아
### 튜플 형태로 바꾸어 돌려주는 함수

In [53]:
print(tuple("abc"))
print(tuple([1, 2, 3]))
print(tuple('a')) #괄호와 차이를 주기 위해서 ('a',) 로 나타냄 
print(('a'))

('a', 'b', 'c')
(1, 2, 3)
('a',)
a

# type(object)
###입력값의 자료형이 무엇인지 알려 주는 함수

In [54]:
print(type("abc"))
print(type([]))
print(type({a: 4}))
print(type(open("test", "w")))

<class 'str'>
<class 'list'>
<class 'dict'>
<class '_io.TextIOWrapper'>

#**★★★★★** zip(*iterable)
###동일한 개수로 이루어진 자료형을
#### 묶어 주는 역할을 하는 함수

In [55]:
print(list(zip([1, 2, 3], [4, 5, 6])))
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))
print(list(zip("abc", "def")))
print(list(zip([1, 2, 3], "def")))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]
[(1, 'd'), (2, 'e'), (3, 'f')]

**기본적으로 묶을 경우, 튜플로 묶어준다**

####구조를 가진 함수들 ==> ★