<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch2_02_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **string 형 **
#### 문자열 --> """ & ''' --> 2줄 이상 담을 경우 
#### 문자열 default --> ' ' 로 담김

In [0]:
# ch2_02_string.py
# "Life is too short, you need python"
# 'Life is too short, you need python'
# """Life is too short, you need python"""
# '''Life is too short, you need python'''


print("문자열: '")
food = "Python's favorite food is perl"
# " ' " [ " 안에 있는 ' 는 문자로 잡힘"]
food

문자열: '

"Python's favorite food is perl"

**파이썬에서 어떤 에러인지 바로 알려줌 !**

In [0]:

food = 'Python's favorite food is perl'  # Error
#sytax Error // 바로 알려줌
say = '"Python is very easy." he says.'

food
say

SyntaxError: ignored

In [0]:
print("문자열: \ 이용")
food = 'Python\'s favorite food is perl' # (\ 특수코드) 사용해서 ' 끼리 사용 가능 
say = "\"Python is very easy.\" he says."
food
say

문자열: \ 이용

'"Python is very easy." he says.'

**... 의미 --> \n**

In [0]:

# 이스케이프 코드
print("문자열: 이스케이프 코드 이용") #제어 표식 ==> \ 제어코드 단어
multiline = "Life is too short\nYou need python" #(\ 특수 제어코드 들어감 [색 다름])
multiline
print(multiline)
# 여러줄 문자열 처리
multiline1 = '''
... Life is too short
... You need python
... '''
multiline1
print(multiline1)

문자열: 이스케이프 코드 이용
Life is too short
You need python

... Life is too short
... You need python
...

**튜플 형식으로 결과값 도출 **
**문자열 더하기와 문자열 곱하기 (곱하기의 경우 문자열기 곱한 만큼 더 생김**

In [2]:
################################################
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

print("문자열 연산: 곱하기")
a = "python"
a * 2
head + tail, a*2

문자열 연산: 더하기
문자열 연산: 곱하기

('Python is fun!', 'pythonpython')

In [0]:
#####################################
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)
#####################################

In [7]:

# 내장함수: len()
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
print(len(a))

#####################################
#
# 문자열 인덱싱과 슬라이싱
#
#####################################
print("문자열: 인덱싱이란?")
a1 = "Life is too short, You need Python"
print(a1[3],a1[15])

# "파이썬은 0부터 숫자를 센다."
print("문자열: 인덱싱 활용")

a2 = "Life is too short, You need Python"
a2[0],a2[12],a2[-1],a2[-2],a2[-5],a2[-12]

문자열 연산: 길이 구하기 - len()
17
문자열: 인덱싱이란?
e r
문자열: 인덱싱 활용

('L', 's', 'n', 'o', 'y', ' ')

In [22]:
#####################################
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 더하기 연산
print("b=" +b)
# slicing (슬라이싱)
print("a[0:4]="+ a[0:4]+".")  # 0 <= index < 4

print("a[0:5]= "+a[0:5]+".")
print("a[5:7]= "+a[5:7]+".")
print("a[12:17]= "+a[12:17])
# : 의 사용
# a[19:-7] ?
print("a[:4]= "+a[:4]+"\n","a[19:]= "+a[19:]+"\n","a[:17]= "+a[:17]+"\n","a[:]= "+a[:]+"\n","a[19:-7]= "+a[19:-7])

문자열: 슬라이싱이란?
b=Life
a[0:4]=Life.
a[0:5]= Life .
a[5:7]= is.
a[12:17]= short
a[:4]= Life
 a[19:]= You need Python
 a[:17]= Life is too short
 a[:]= Life is too short, You need Python
 a[19:-7]= You need

In [23]:

print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date
weather

a1 = "20190917Rainy"
year1 = a[1:4]
day1 = a1[4:8]
weather1 = a1[8:]

print("date: "+date+"\n","weather: "+weather+"\n","year: "+year1+"\n","day= "+day1+"\n","weather: "+weather1+"\n")

문자열: 슬라이싱 응용?
date: 20190909
 weather: Sunny
 year: 019
 day= 0917
 weather: Rainy

In [24]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
a[1]
a[1] = 'y'  # Error (immutable한 자료형) 불변
#################

TypeError: ignored

In [27]:
a = "Pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])  # Python


"""
Author: redwoods
파이썬 코드: ch2_02_string.py
"""

P
thon
Python

'\nAuthor: redwoods\n파이썬 코드: ch2_02_string.py\n'

In [32]:
# ch2_03_string_formating.py

print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
a1="I eat %d apples." % 3

# 2. 문자열 바로 대입
a2="I eat %s apples." % "five"

# 3. 숫자 값을 나타내는 변수로 대입
number = 3
a3="I eat %d apples." % number
print(a1+"\n",a2+"\n",a3+"\n")

문자열: 포매팅이란?
I eat 3 apples.
 I eat five apples.
 I eat 3 apples.

In [33]:
# 4. 2개 이상의 값 넣기

print("I ate %d apples. so I was sick for %s days." % number)  # , day   # Error

TypeError: ignored

In [34]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

'I ate 10 apples. so I was sick for three days.'

In [37]:
print("문자열: 포맷 코드")
# %d, %s, %c, %f, %o, %x, %%   --> %% --> % 표시할 경우
# %s, 묵시적 형변환 (정수, 실수 변형)
a="I have %s apples" % 3
b="rate is %s" % 3.234


a,b

문자열: 포맷 코드

('I have 3 apples', 'rate is 3.234')

# Error

In [39]:
"Error is %d%." % 98

ValueError: ignored

In [40]:
"Error is %d%%." % 98

'Error is 98%.'

In [42]:

###############################################-p60
print("문자열: 포맷 코드와 숫자 함께 사용하기")
# 1. 정렬과 공백
a="%10s" % "hi"
a1="%-10sjane." % "hi"
# 2. 소수점 표현하기
a2="%0.4f" % 3.42134234
a3="%10.4f" % 3.42134234
a,a1,a2,a3

문자열: 포맷 코드와 숫자 함께 사용하기

('        hi', 'hi        jane.', '3.4213', '    3.4213')

In [54]:
print("문자열: format 함수를 사용한 포매팅")
# 1. 숫자 바로 대입하기
a="I eat {0} apples".format(3)
b="I eat {0} {1} apples".format(3, 4)

# 2. 문자열 바로 대입하기
c="I eat {0} apples".format("five")
da="I eat {0} apples from {1} boxes".format("five", "three")

# 3. 숫자 값을 가진 변수로 대입하기
number = 3
e="I eat {0} apples".format(number)
f="I eat {0} apples".format(number + 1)


##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################

print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30
g=f"나의 이름은 {name}입니다. 나이는 {age}입니다."

age = 30
h=f"나는 내년이면 {age+1}살이 된다."

# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
i=f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
print(a+"\n",b+"\n",c+"\n",da+"\n",e+"\n",f+"\n")
print("f포매팅\n\n")
print(g+"\n",h+"\n",i+"\n")

문자열: format 함수를 사용한 포매팅
문자열: f 문자열 포매팅
I eat 3 apples
 I eat 3 4 apples
 I eat five apples
 I eat five apples from three boxes
 I eat 3 apples
 I eat 4 apples

f포매팅


나의 이름은 홍길동입니다. 나이는 30입니다.
 나는 내년이면 31살이 된다.
 나의 이름은 홍길동입니다. 나이는 30입니다.

In [55]:

# 2개 이상의 값 넣기
number = 10
day = "three"
a="I ate {0} apples. so I was sick for {1} days.".format(number, day)
# 이름으로 넣기
b="I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
# 인덱스와 이름을 혼용해서 넣기
c="I ate {0} apples. so I was sick for {day} days.".format(10, day=3)
#
a,b,c

('I ate 10 apples. so I was sick for three days.',
 'I ate 10 apples. so I was sick for 3 days.',
 'I ate 10 apples. so I was sick for 3 days.')

In [69]:
######################################
# 왼쪽 정렬/ 오른쪽 정렬
a="{0:<10}".format("hi") #{0} 번째 문자열 위치 10칸을 잡아서 좌측정렬
b="{0:>10}".format("hi")
# 가운데 정렬
c="{0:^10}".format("hi") # 중앙 정렬
# 공백 채우기
d="{0:=^10}".format("hi")
e="{0:!<10}".format("hi")
# 도전하기
f= "{0:<10}{1:>10}".format("hi",'comsi')
##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################

# 정렬
a1=f'{"hi":<10}'  # 왼쪽 정렬
a2=f'{"hi":>10}'  # 오른쪽 정렬
a3=f'{"hi":^10}'  # 가운데 정렬
# 공백 채우기
a4=f'{"hi":!<10}'

print(a+"\n",b+"\n",c+"\n",d+"\n",e+"\n",f+"\n")
print("\n\n"+"="*30+"\n\n")
print(a1+"\n",a2+"\n",a3+"\n",a4+"\n")

hi
         hi
     hi
 ====hi====
 hi!!!!!!!!
 hi             comsi



==============================


hi
         hi
     hi
 hi!!!!!!!!

In [71]:
#########################################

# 소수점 표현하기
y = 3.42134234
a="{0:0.4f}".format(y)
a1="{0:10.4f}".format(y)
# { 또는 } 문자 표현하기
a2="{{ and }}".format()


y1 = 3.42134234
b=f"{y1:0.4f}"  # 소수점 4자리까지만 표현
b1=f"{y1:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
# { } 문자를 표시
b2=f"{{ and }}"

print(a+"\n",a1+"\n",a2+"\n")
print("\n\n"+"="*30+"\n\n")
print(b+"\n",b1+"\n",b2+"\n")

3.4213
     3.4213
 { and }



==============================


3.4213
     3.4213
 { and }

In [72]:

##############################################
print("문자열: 관련 내장 함수들")
# 문자 개수 세기(count)
a = "hobby"
a.count("b")

문자열: 관련 내장 함수들

2

In [73]:

# 위치 알려주기1(find)
a = "Python is the best choice"
a.find("b")
a.find("k")  # what value?

-1

In [75]:

# 위치 알려주기2(index)
a = "Life is too short"
a.index("t")

8

In [76]:
# 위치 알려주기2(index)
a = "Life is too short"
a.index("k")

ValueError: ignored

In [77]:

# 문자열 삽입(join)
a=",".join("abcd")
aa=",".join(["a", "b", "c", "d"])
a,aa

('a,b,c,d', 'a,b,c,d')

In [79]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
c=a.upper()
# 대문자를 소문자로 바꾸기(lower)
a1 = "IoT"
c1=a1.lower()
# 왼쪽 공백 지우기(lstrip)
a2 = " hi "
c2=a2.lstrip()
# 오른쪽 공백 지우기(rstrip)
c3=a3.rstrip()
# 양쪽 공백 지우기(strip)
c4=a3.strip()
# 문자열 바꾸기(replace)
a4 = "Life is too short"
c5=a4.replace("Life", "Your leg")
c,c1,c2,c3,c4,c5

('HI', 'iot', 'hi ', '    hi', 'hi', 'Your leg is too short')

In [81]:

# 문자열 나누기(split) -> 리스트로 변환하여 반환
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(":"))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [84]:

#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python"),f'{"python":!^12}'

('!!!python!!!', '!!!python!!!')

In [0]:


"""
Author: redwoods
파이썬 코드: ch2_03_string_formatting.py
"""