<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch02/ch2_exercises_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch2_exercises.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [5]:
# [Q1] Code  

국어 = 80
영어 = 75
수학 = 55
print((국어+영어+수학)/3)

70.0

In [6]:

avg={"국어":80,"영어":75,"수학":55}
print((avg["국어"]+avg["영어"]+avg["수학"])/3)

70.0

In [7]:

avg=80,75,55
print((avg[0]+avg[1]+avg[2])/3)

70.0

In [8]:

avg=[80,75,55]
print((avg[0]+avg[1]+avg[2])/3)

70.0

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [154]:
# [Q2] Code
# 1. 판별 기준 : 

if 13%2==1:
    print("홀수")
else:
    print("짝수")

참

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [10]:
# [Q3] Code

pin="881120-1068234"
a="19"
yyyymmdd=a+pin[:6]
num= pin[7:]
yyyymmdd,num

('19881120', '1068234')

In [13]:
pin={"yyyymmdd":"19881120","num":"1068234"}
print(pin["yyyymmdd"])
print(pin["num"])

19881120
1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [173]:
# [Q4] Code
pin="881120-1068234"
if pin[7:8]=="1":
  print("남자")
else:
  print("여자")

남자

In [174]:
  pin="881120-1068234"
  if pin[7]=="1":
    print("남자")
  else:
    print("여자")

남자

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [33]:
# [Q5] Code
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [40]:
import copy
a = "a:b:c:d"
b=copy.copy(a)
b=b.replace(":","#")
b

'a#b#c#d'

## Q6.
> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [48]:
# [Q6] Code
f=[1,3,5,4,2]
f.sort()
f.reverse()
f

[5, 4, 3, 2, 1]

In [52]:
f=[1,3,5,4,2]
f.sort()
f[::-1]

[5, 4, 3, 2, 1]

## Q7.
> ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [64]:
# [Q7] Code
" ".join(["Life", "is", "too", "short"])

'Life is too short'

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [84]:
# [Q8] Code

t1=(1,2,3)
t2=(4,)
t1+t2

(1, 2, 3, 4)

In [85]:
t1=1,2,3
t2=4,5
t3=t1[:]+t2[:1]
t3

(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [122]:
# [Q9] Code & explanation
a['name']='python' # key값 name
a[('a',)]='python' # 튜플구조인 a 반환
a[250]='python' #Key가 250인 요소 반환
a

{('a',): 'python', 250: 'python', '[250]': 'python', 'name': 'python'}

In [123]:
a[[1]]='python'  #unhashable type: 'list' 리스트 인덱스 반환 불가
a

TypeError: ignored

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [127]:
# [Q10] Code
a = {'A':90, 'B':80, 'C':70}
a.pop("B")

80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [130]:
# [Q11] Code
a = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])
a

{1, 2, 3, 4, 5}

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = [1, 2, 3]  
>> a[1] = 4  
>> print(b)

In [137]:
# [Q12] Code & explanation

a = b = [1, 2, 3]
a[1] = 4
print("a의 주소값: ")
print(id(a))
print("b의 주소값: ")
print(id(b))
print(b)

print("a의 주소와 b의 주소가 같기 때문에 a값을 바꾸면 결국 b값도 바뀌게 된다")

a의 주소값:
140364425752520
b의 주소값:
140364425752520
[1, 4, 3]
a의 주소와 b의 주소가 같기 때문에 a값을 바꾸면 결국 b값도 바뀌게 된다

In [138]:
print("a의 주소와 b의 주소를 바꾸는 방법")

a = [1, 2, 3]
b = a[:]
print("a의 주소값")
print(id(a))
print("b의 주소값")
print(id(b))

a의 주소와 b의 주소를 바꾸는 방법
a의 주소값
140364425798344
b의 주소값
140364425800520

In [139]:
print("a의 주소와 b의 주소를 바꾸는 방법")

import copy
a = [1, 2, 3]
# from copy import copy
b = copy.copy(a)
b is a, a is b

a의 주소와 b의 주소를 바꾸는 방법

(False, False)

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch2_exercises_id.ipynb