<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch02/ch2_05_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##print("딕셔너리: 딕셔너리(Dictionary)란?")
 딕셔너리란 대응 관계를 나타내는 자료형.
 연관 배열(Associative array) 또는 해시(Hash)
 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형

 기본 딕셔너리의 모습
 {Key1:Value1, Key2:Value2, Key3:Value3, ...}
 Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
 Key는 각각 'name', 'phone', 'birth'
 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'
 
{키:값} ==> 딕셔너리
{값}==> set

In [0]:
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
dic

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

**여러 가지 딕셔너리**
a[key(index)]

In [0]:

a = {1: "hi"}
a[1] #a{1} --> syntax ERROR // 인덱스  찾을경우 []

'hi'

**키 하나당 한쌍**

In [0]:

a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
len(a)

1

**unhashable type: 'dict' 타입없음**

In [0]:
a = {"a": [1, 2, 3]}
a[a]  # TypeError

TypeError: ignored

In [0]:
a = {"a": [1, 2, 3]}
a["a"]

[1, 2, 3]

**dic -->  가변형**

**dic 인덱싱 불가 ===> 키값**

In [0]:

#
# 딕셔너리 쌍 추가하기
#
a = {1: "a"}
a[2] = "b"
a["name"] = "pey"
print(len(a))
print(a)
a[3] = [1, 2, 3]
print(a)

3
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

**키값이 1 인 dic의 Value를 삭제하라**

In [0]:

#
# 딕셔너리 쌍 삭제하기
#
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
del a[1]
a
#

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [0]:

print("딕셔너리: 사용 방법")
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d)
print(d["손흥민"])

딕셔너리: 사용 방법
{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}
축구

**dic 키:값 , 키:값  == len 는 2

In [0]:

#
# 딕셔너리에서 Key 사용해 Value 얻기
#
grade = {"pey": 10, "julliet": 99}
print(grade["pey"])
print(grade["julliet"])
#

10
99

In [0]:
a = {1: "a", 2: "b"}
print(a[1])  # 1은 key
#
a = {"a": 1, "b": 2}
print(a["b"])

a
2

**Type ERROR**

In [0]:
a = {"a": 1, "b": 2}
a[b]  # TypeError

NameError: ignored

In [0]:

#
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
print(dic["birth"])
print(dic["phone"])

1118
0109993323

**딕셔너리 만들 때 주의할 사항**

**딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면**


**하나를 제외한 나머지 것들이 모두 무시된다**

In [0]:

#
#
a = {1: "a", 1: "b"}
a[1]
#

'b'

In [0]:

print("딕셔너리: 관련 내장 함수들")
#
# Key 리스트 만들기(keys)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print(a.keys())
list(a.keys())

딕셔너리: 관련 내장 함수들
dict_keys(['name', 'phone', 'birth'])

['name', 'phone', 'birth']

**key값 출력**

**key 없을경우 for문 빠져나옴**

In [0]:

#################################################
# 기본적인 반복(iterate) 구문(예: for문)을 실행
#################################################
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
for k in a.keys():
    print(k)


#

name
phone
birth

**특정 dic에서 Value값 빼옴**

In [0]:

#
# Value 리스트 만들기(values)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.values()
#

dict_values(['pey', '0119993323', '1118'])

**Tuple로 돌려줌**

In [0]:

# Key, Value 쌍 얻기(items)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.items()  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.
#

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

**빈 dic**

In [0]:

#
# Key: Value 쌍 모두 지우기(clear)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.clear()
a
#

{}

In [0]:

# Key로 Value얻기(get)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print(a.get("name"))  # a['name'])
print(a.get("phone"))  # a['phone']

pey
0119993323

**Key ERROR**

In [0]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print(a["nokey"])  # KeyError
#

KeyError: ignored

**default 값 지정**

**키값이 없을 경우 2번째를 디폴트값으로 가져옴**

In [0]:

# get(x, '디폴트 값')
#
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
print(a.get("foo", "bar"))
print(a.get("name", "bar"))
#

bar
pey

In [0]:

# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
#
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print("name" in a)
print("foo" in a)

True
False