<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch02/ch2_04_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.**

**리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.**

In [0]:
# ch2_06_tuple.py

print("튜플: tuple 이란?")

even = (2, 4, 6, 8)
even

튜플: tuple 이란?

(2, 4, 6, 8)

In [0]:

# 여러 가지 튜플
t1 = ()  # 튜플 초기화
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

**tuple --> 불변형!!**

**indexing ==> 대괄호**

**'tuple' object doesn't support item deletion**

In [0]:

#####################################################
#
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
del t1[0]  # Error
#

TypeError: ignored

**'tuple' object does not support item assignment**

In [0]:

# 2. 튜플 요솟값을 변경하려 할 때
#
t1[0] = "c"  # TypeError
#

TypeError: ignored

**튜플: 사용방법**

In [0]:


# 인덱싱하기
#
t1 = (1, 2, "a", "b")
print(t1[0])
print(t1[3])
#

1
b

**내부튜플 정의시**

**다중 인덱싱 가능**

**튜플 단일 요소일경우 단일요소 값 ','로 나옴**

In [0]:

# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
print(t1[1:])
print(t1[2:-1])  # ('a',)
print(t1[2:])
#

(2, 'a', 'b')
('a',)
('a', 'b')

**t1+t2 ==>  새로운 영역이 생김**

In [0]:

# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

**제정의를 할 경우 새로운 요소가 들어가므로 주소가 달라짐**

**각각의 불변성을 유지함**

In [0]:

#
# 튜플 곱하기
#
t2 = (3, 4)
print(id(t2))
t2 * 3
print(id(t2))
t2 = t2 * 3
print(id(t2))

140409499799176
140409499799176
140409499325160

**튜플 길이 구하기**

In [0]:

#
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1)
#
#

4