<a href="https://colab.research.google.com/github/mina0502/SM04/blob/master/ch04/ch4_01_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**함수란 무엇인가?**

**입력값을 가지고 어떤 일을 수행한 다음에** 

**그 결과물을 내어놓는 것**


**함수를 사용하는 이유**  
  
  반복되는 부분을 함수로 전환.
  
  코딩을 모듈화
  
  **파이썬 함수의 구조**
  
  def 함수명(매개변수):
  
    <수행할 문장1>
    
    <수행할 문장2>
    
    ...

# add() 함수를 정의

def add(a, b): 

    return a + b

In [3]:



# add() 함수를 사용
a=3
b=4
c=add(a,b)
print(c)

7

**리스트를 붙여서 나옴**

In [4]:

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

[1, 2, 3, 4, 5, 6]

**매개변수와 인수의 차이를 이해**

함수에 정의된 수 = 매개변수 (a,b)

함수를 사용할때 각각의 매개변수 = 인수 (3,4)

In [1]:

def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

7

**Method Overiding**

In [2]:
add('IJU','Comsi')

'IJUComsi'

**def 함수이름(매개변수):**

   **<수행할 문장>**
    
   **...**
    
   **return 결과값**
   
   ==> 결과값이 없을 수도 있다.

In [0]:

def add2(a, b): 
    result = a + b 
    return result

**입력값과 결괏값이 있는 함수의 사용법**

**결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)**

In [6]:
a = add2(3, 4)
print(a)

7

# 입력값이 없는 함수

In [0]:
def say(): 
    return 'Hi'

In [8]:
a = say()
print(a)

Hi

**입력값이 없는 함수의 사용법**

**결괏값을 받을 변수 = 함수이름()**

# 결괏값이 없는 함수

In [0]:
def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [11]:
add3(3, 4)

3, 4의 합은 7입니다.

**return의 결과값이 없을경우 None을 출력해준다**

In [13]:
a = add3(3, 4)
print(a)

3, 4의 합은 7입니다.
None

# 입력값도 결괏값도 없는 함수

In [0]:
def say2(): 
    print('Hi')

In [16]:
say()

'Hi'

**매개변수의 값을 지정하여 호출**

In [0]:

def add4(a, b):
    return a+b

In [18]:

result = add4(a=3, b=7)
print(result)

10

**매개변수의 순서에 상관없이 사용**

In [19]:
result = add4(b=5, a=3) 
print(result)

8

**매개변수의 값을 초기화해서 정의하기**

**특정 매개변수에 default 값을 지정해서 사용할 수 있음**

In [0]:
def add5(a=1,b=2):
  return a+b

In [22]:
x=add5()
x

3

**입력값이 몇 개가 될지 모를 때**

**def 함수이름(*매개변수):**

  **<수행할 문장>**
  
  **...**

**args 매개변수 (복수)**

In [0]:
def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

**매개변수가 3개인 인수 3개 처리**

In [24]:
add_many(1, 2, 3)

6

**매개변수의 갯수 정의하지 않고 초기화해서 넣을 수 있다**

In [25]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [26]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

# 여러 개의 입력을 처리하는 함수(*args)

In [0]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result

**add**

In [28]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

**multiply**

In [29]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

**키워드 파라미터 kwargs** **

In [0]:
def print_kwargs(**kwargs):
    print(kwargs)

**print_kwargs 함수는 매개변수 kwargs를 출력하는 함수**

In [32]:
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

** kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 

kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 

그 딕셔너리에 저장된다.

**함수의 결괏값은 언제나 하나**

**(값이 두개 이상일 경우 튜플)**

In [0]:
def add_and_mul(a,b): 
    return a+b, a*b

 **add_and_mul() 사용 1.**

In [34]:
result = add_and_mul(3,4)

print(result)

(7, 12)

 **add_and_mul() 사용 2.**
 
 **튜플 ==> 소괄호 (안해도 소괄호됨)**
 
 **리스트 ==> 대괄호**
 
 **딕셔너리 ==> 중괄호**

In [35]:
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

#잘못된 함수

**최초의 return 값만 적용된다**

In [36]:
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!!


result = add_and_mul2(2, 3)
print(result)

5

**return 의 용도: 함수 실행 종료**

In [0]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)

**인수값 출력**

In [38]:
say_nick("홍길동")

나의 별명은 홍길동 입니다.

In [0]:
say_nick("바보")

**return은 결과 없이 함수 종료**

#매개변수에 초깃값 미리 설정하기

In [0]:
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

**default 값 자동 지정**

In [45]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [46]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [47]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

#초기값이 지정된 변수==> 맨마지막


**초깃값을 설정해 놓은 매개변수 뒤에**

**초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다**

**초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.**

In [48]:
def say_myself2(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

SyntaxError: ignored

**non-default argument follows default argument**
**함수 자체 정의 안됨**

**다만 초기값 2개 지정되는건 된다**

In [0]:
def say_myself2(name, man=True, old=False): 
    print("나의 이름은 %s 입니다." % name) 
    if old:
      print("없음")
    else:
      print("있음")
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

In [51]:
say_myself2("name")

나의 이름은 name 입니다.
있음
남자입니다.

# 함수 안에서 선언한 변수의 효력 범위

**전역변수**

**지역 변수, 자동 변수**

In [0]:

a = 1
def vartest(a):
    a = a +1

vartest(a)

In [54]:
print(a)

1

**z2 는 지역변수**

In [0]:
def vartest2(z2):
    z2 = z2 + 1
vartest2(3)

In [61]:
print(z2)

NameError: ignored

#함수 안에서 함수 밖의 변수를 변경

**return 사용**

**global 변수 사용**

#return 사용하기

**전역 변수와 지역변수의 같은 이름의 변수를 쓰더라도 서로의 변수의 주소값은 다르다**

In [62]:
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

2

#global 명령어 사용하기

**Python에서 권장하지 않음**

In [63]:
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

#lambda

**lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다.**

**보통 함수를 한줄로 간결하게 만들 때 사용한다.**

# lambda 사용법 (이름이 없는 함수)

**lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식**

**lambda를 이용한 add 함수**

lambda a,b: return

**lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.**

In [64]:
add = lambda a, b: a+b

result = add(3, 4)
print(result)

7

# lambda 함수의 응용

**sorted : 정렬해줌**

In [77]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

['N-1000', 'T-2000', 'K-3000', 'X-5000']